extends layout

block content

	#viewDownloads.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					h4.modal-title Your downloads
				.modal-body
					#dlPanel.panel-body
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close
					button.clearButton.btn.btn-danger(type='button' value='Clear all downloads') Clear All downloads
	#advancedSearch.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					h4.modal-title Advanced settings
				.modal-body
					form.form-horizontal
									.form-group
										label.col-sm-2.control-label(for='stations') Station:
										.col-sm-10
											select#stations.form-control(name='stations')
												option(value='ruv', name='ruv') Rúv
												option(value='ruvithrottir', name='ruvithrottir') Rúv-íþróttir
												option(value='stod2', name='stod2') Stöð2
												option(value='stod2sport', name='stod2sport') Stöð2-sport
												option(value='stod2sport2', name='stod2sport2') Stöð2-sport2
												option(value='stod2gull', name='stod2gull') Stöð2-gull
												option(value='stod2bio', name='stod2bio') Stöð2-bio
												option(value='stod3', name='stod3') Stöð3
												option(value='skjar1', name='skjar1') Skjár1
									.form-group
										label.col-sm-2.control-label(for='date') Day:
										.col-sm-10
											#date.date-container
												input.form-control(type='date', name='date')
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close


	nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
		.container
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#') Entertainment System
			#navbar.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-left.btn-group
					li
						a(href='#', type='button', data-toggle='modal', data-target='#advancedSearch') Advanced
				.navbar-form.navbar-right.btn-group
					button.btn.btn-primary(type='button') View Bookings
					button.btn.btn-primary(type='button', data-toggle='modal', data-target='#viewDownloads') View downloads
				form#searchForm.navbar-form(role='search')
					.form-group(style='display:inline;')
						.input-group(style='display:table;')
							.input-group-btn(style="width: 1%;")
								button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false') All 
									span.caret
								ul.dropdown-menu(role='menu')
									li
										a(href='#') All
									li
										a(href='#') Concert
									li
										a(href='#') TV program
							input#searchInput.form-control(type='text', placeholder='Search', name='srch-term', autofocus='')
							span.input-group-addon(style="width: 1%;")
								span.glyphicon.glyphicon-search

	.container(role='main')
		.row
			.col-md-6
				h2 Concerts
					span.glyphicon.glyphicon-music
				table.table.table-bordered
					thead
						tr
							th Date and time
							th Title
							th Book Seats
					tbody.CONCERTPROGRAMS
						tr
							td 2015-04-12 07:00:00
							td placeholder title
							td
								button.downloadButton.btn.btn-primary(type='submit', value='Download')
									span.glyphicon.glyphicon-th
			.col-md-6
				h2 TV programs
					span.glyphicon.glyphicon-film
				table.table.table-bordered
					thead
						tr
							th.sortByDate Date and time
								span.caret
							th.sortByName Title
								span.caret
							th Download
					tbody.TVPROGRAMS

	.concertDisplay.container
		button#moreRows.btn.btn-primary.btn-block See more 
			span.caret
		hr
		footer
			p &copy; 2015 - The Entertainment Cluster A

	script(src='/javascripts/libraries/jquery-1.11.0.min.js')
	script(src='/javascripts/libraries/bootstrap.min.js')
	script(src='/javascripts/objects/MainSite.js')
	script(src='/javascripts/objects/Search.js')
	script(src='/javascripts/objects/ConcertWrapper.js')
	script(src='/javascripts/objects/TVWrapper.js')
	script(src='/javascripts/script.js')