extends layout

block content

	#myModal.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					h4.modal-title Your downloads
				.modal-body
					#dlPanel.panel-body
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close
					button.clearButton.btn.btn-danger(type='button' value='Clear all downloads') Clear All downloads

	nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
		.container
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#') Entertainment System
			#navbar.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-left
					li
						a(href='#') Link 1
				.navbar-form.navbar-right.btn-group
					button.btn.btn-primary(type='button') View Bookings
					button.btn.btn-primary(type='button', data-toggle='modal', data-target='#myModal') View downloads
				form#searchForm.navbar-form(role='search')
					.form-group(style='display:inline;')
						.input-group(style='display:table;')
							.input-group-btn(style="width: 1%;")
								button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false') All 
									span.caret
								ul.dropdown-menu(role='menu')
									li
										a(href='#') All
									li
										a(href='#') Concert
									li
										a(href='#') TV program
							input#searchInput.form-control(type='text', placeholder='Search', name='srch-term', autofocus='')
							span.input-group-addon(style="width: 1%;")
								span.glyphicon.glyphicon-search

	.container(role='main')
		.row
			.col-md-6
				h2 Concerts
					span.glyphicon.glyphicon-music
				table.table.table-bordered
					thead
						tr
							th Date and time
							th Title
							th #
					tbody.CONCERTPROGRAMS
						tr
							td 2015-04-12 07:00:00
							td titill
							td
								button.downloadButton.btn.btn-primary(type='submit', value='Download')
									span.glyphicon.glyphicon-th
			.col-md-6
				h2 TV programs
					span.glyphicon.glyphicon-film
				table.table.table-bordered
					thead
						tr
							th Date and time
							th Title
							th #
					tbody.TVPROGRAMS

	.concertDisplay.container
		button#moreRows.btn.btn-primary.btn-block.btn-success See more 
			span.caret
		hr
		footer
			p &copy; E3a 2015

	script(src='/javascripts/libraries/jquery-1.11.0.min.js')
	script(src='/javascripts/libraries/bootstrap.min.js')
	script(src='/javascripts/objects/MainSite.js')
	script(src='/javascripts/objects/Search.js')
	script(src='/javascripts/objects/ConcertWrapper.js')
	script(src='/javascripts/objects/TVWrapper.js')
	script(src='/javascripts/script.js')