//MODALS
#aboutProject.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
				h4.modal-title About the project
			.modal-body
				p
					Some info about this project...
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') Close

#viewSeats.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
				h4.modal-title Pick available seats
			.modal-body
				p Number of seats picked: 
					span#nrOfSeats 0
				table.table.table-bordered(data-toggle='buttons-checkbox' style='width: 100%;')
					thead
						th.col-md-1 #
						each val in ['A','B','C','D','E']
							th= val
					tbody
						- var i = 1
						while i < 6
							tr
								td= i++
								-var j = 0
								while j < 5
									- j++
									td
										.btn.btn-block.btn-primary.seatBtn
											span.glyphicon.glyphicon-ok-circle

			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') Close
				button#bookSeats.btn.btn-success(type='button' value='Book seats') Book seats

#viewDownloads.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
				h4.modal-title Your downloads
			.modal-body
				#dlPanel.panel-body
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') Close
				button.clearButton.btn.btn-danger(type='button' value='Clear all downloads') Clear All downloads

#advancedSearch.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
				h4.modal-title Advanced settings
			.modal-body
				form.form-horizontal
					.form-group
						label.col-sm-2.control-label(for='stations') Station:
						.col-sm-10
							select#stations.form-control(name='stations')
								option(value='ruv', name='ruv') Rúv
								option(value='ruvithrottir', name='ruvithrottir') Rúv-íþróttir
								option(value='stod2', name='stod2') Stöð2
								option(value='stod2sport', name='stod2sport') Stöð2-sport
								option(value='stod2sport2', name='stod2sport2') Stöð2-sport2
								option(value='stod2gull', name='stod2gull') Stöð2-gull
								option(value='stod2bio', name='stod2bio') Stöð2-bio
								option(value='stod3', name='stod3') Stöð3
								option(value='skjar1', name='skjar1') Skjár1
					.form-group
						label.col-sm-2.control-label(for='date') Day:
						.col-sm-10
							#date.date-container
								input.form-control(type='date', name='date')
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') Close