.row
	.col-md-6
		h2 Concerts
			span.glyphicon.glyphicon-music
		table#ConcertPROGRAMS.table.table-bordered
			thead
				tr
					th Date and time 
						span.caret
					th Title 
						span.caret
					th Book Seats
			tbody.CONCERTPROGRAMS
		button#moreConcertRows.btn.btn-primary.btn-block See more 
			span.caret
	.col-md-6
		h2 TV programs
			span.glyphicon.glyphicon-film
		table#TVPROGRAMS.table.table-bordered
			thead
				tr
					th.sortable Date and time 
						span.caret
					th.sortable Title 
						span.caret
					th Download
			tbody.TVPROGRAMS
		button#moreTVRows.btn.btn-primary.btn-block See more 
			span.caret