body {font-size: 16px; padding: 4.375em 0;}
/*form#searchForm {
	max-width: 800px; 
	width: 100%; 
	margin: 0 auto;
}
*/
h1,h2,footer p {
	text-align: center;
}

.row h2, th {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

span.glyphicon {
	margin: 0 1em;
}

p {
	word-wrap: break-word;
}

#searchForm .form-group {
	display: inline;
}

#searchForm .input-group {
	display: table;
}

#searchForm .input-group-btn, #searchForm span.input-group-addon {
	width: 1%;
}

/*
.detailsButton {
	width: 100%;
}

.resultImg {
	margin: 0 auto; 
	/*width: 100%;
}*/

.hidden {
	display: none;
}

table tbody td .btn {
	display: block;
	margin:auto;
} 

table.table.table-bordered {
	width: 100%;
}

#viewSeats th, #viewSeats tr {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

#viewSeats tbody td:not(:first-child) {
	
}

.container tr th {width: 40%;}
.container tr th:last-child {width: 20%;}

h2 .glyphicon { margin-right:5px; }

/*
h2 {
	text-overflow: clip;
	white-space: normal;
	overflow: normal;
}
*/


/*Media queries
@media only screen and (max-width: 992px) {}
@media only screen and (max-width: 422px), (max-device-width : 400px) {}*/