form#searchForm {
	max-width: 800px; 
	width: 100%; 
	margin: 0 auto;
}

h1,footer p {
	text-align: center;
}

.row h2 {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

p {
	word-wrap: break-word;
}

.detailsButton {
	width: 100%;
}

.resultImg {
	margin: 0 auto; 
	/*width: 100%;*/
}

/*************************************************/

.glyphicon { margin-right:5px; }
.thumbnail
{
	margin-bottom: 20px;
	padding: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.list-group-item
{
	float: none;
	width: 100%;
	background-color: #fff;
	margin-bottom: 10px;
}

.list-group-item .list-group-image
{
	margin-right: 10px;
}
.list-group-item .thumbnail
{
	margin-bottom: 0px;
}
.list-group-item .caption
{
	padding: 9px 9px 0px 9px;
}

.list-group-item:before, .list-group-item:after
{
	display: table;
	content: " ";
}

.list-group-item img
{
	float: left;
}
.list-group-item:after
{
	clear: both;
}
.list-group-item-text
{
	margin: 0 0 11px;
}

h2 {
	text-overflow: clip;
	white-space: normal;
	overflow: normal;
}